:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* Sidebar styling */
.sidebar {
  background-color: #0284c7;
  grid-area: sidebar;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-auto-rows: max-content;
  gap: 45px;
  padding: 1.8rem 2.4rem;
  color: white;
}

.logo {
  justify-self: center;
  font-size: 1.4rem;
  display: flex;
}
.logo img {
  width: 42px;
  margin-right: 10px;
  filter: invert(1);
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.navigate-section img,
.settings-section img {
  width: 24px;
  margin-right: 20px;
  filter: invert(1);
}

/* Header styling */
.header {
  grid-area: header;
  background-color: #7dd3fc;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem 4rem;
}

.header .top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 3rem;
}

.header .left-side {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.header form {
  width: 100%;
}

input[type="text"] {
  width: min(80%, 700px);
  font-size: 1.6rem;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: white;
}

.header .left-side img {
  width: 28px;
  margin-right: 12px;
}

.header .right-side {
  width: 40%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.header img {
  width: 28px;
  object-fit: scale-down;
  margin-right: 3rem;
}

.header .user-logo-mini {
  margin-right: 1.6rem;
  width: 48px;
}

.username {
  text-wrap: nowrap;
}

.bottom {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.user-section .user {
  font-size: 2.4rem;
}

.user-section .greeting {
  font-size: 1.8rem;
}

.bottom .user-section {
  display: flex;
  align-items: center;
}

.bottom img {
  width: 64px;
  margin-right: 1.5rem;
}

.buttons-section button {
  padding: 0.8rem 0;
  width: 110px;
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  background-color: white;
}

.buttons-section button:nth-child(1),
.buttons-section button:nth-child(2) {
  margin-right: 20px;
}

/* Main content */
.main-content {
  background-color: #e5e7eb;
  grid-area: main-content;
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-template-rows: min-content 1fr; */
  grid-template-areas:
    "projects announcements"
    "projects trending";
  gap: 2rem;
  padding: 2.5rem 2rem;
}

.projects h2 {
  font-size: 2rem;
}
.projects h4 {
  font-size: 1.8rem;
}

.projects {
  grid-area: projects;
}
.announcements {
  grid-area: announcements;
  width: 300px;
}
.trending {
  grid-area: trending;
  width: 300px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  margin-top: 1rem;
}

.cards .card {
  background-color: white;
  border-radius: 6px;
  padding: 2rem 4rem;
  border-left: 1rem solid #075985;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

.card h4 {
  margin-bottom: 0.4rem;
}

.card p {
  font-size: 1.6rem;
  color: #78716c;
  line-height: 2.2rem;
}

.card .card-icons {
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  align-self: end;
}

.card .card-icons img {
  width: 26px;
}
